<mat-tab-group>
  <mat-tab label="Basic Info">
    <mat-card>
      <pre>{{authService.student | json}}</pre>
    </mat-card>
  </mat-tab>
  <mat-tab label="Achievements"></mat-tab>
</mat-tab-group>

<div class="profile-cards" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center flex-start">
  <mat-card fxFlex="calc(50% - 30px)" class="animated zoomIn relative" style="height: auto">
    <mat-card-header>
      <mat-card-title>
        <h2>
          Student Info
        </h2>
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-list>
      <mat-list-item>
        <h5 matLine>ID:</h5>
        <h3>{{authService.student.id}}</h3>
      </mat-list-item>
      <mat-list-item>
        <h5 matLine>First Name:</h5>
        <h3>{{authService.student.firstname}}</h3>
      </mat-list-item>
      <mat-list-item>
        <h5 matLine>Last Name:</h5>
        <h3>{{authService.student.lastname}}</h3>
      </mat-list-item>
      <mat-list-item>
        <h5 matLine>Grade:</h5>
        <h3>{{authService.student.grade}}</h3>
      </mat-list-item>
      <mat-list-item>
        <h5 matLine>Birthday:</h5>
        <h3>{{authService.student.birthdate}}</h3>
      </mat-list-item>
    </mat-list>
  </mat-card>
  <mat-card fxFlex="calc(50% - 30px)" class="animated zoomIn relative" style="height: auto">
    <mat-card-header>
      <mat-card-title>
        <h2>
          Guardians of the Galaxy
        </h2>
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-list>
      <h3 matSubheader>Mom Info</h3>
      <mat-list-item>
        <h5 matLine>ID:</h5>
        <h3>{{authService.student.s_mom_id}}</h3>
      </mat-list-item>
      <mat-list-item>
        <h5 matLine>Name:</h5>
        <h3>{{authService.student.s_momname}}</h3>
      </mat-list-item>
      <mat-divider> </mat-divider>
      <h3 matSubheader>Dad Info</h3>
      <mat-list-item>
        <h5 matLine>ID:</h5>
        <h3>{{authService.student.s_dad_id}}</h3>
      </mat-list-item>
      <mat-list-item>
        <h5 matLine>Name:</h5>
        <h3>{{authService.student.s_dadname}}</h3>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>