<mat-tab-group>
  <mat-tab label="Overview">


    <div class="overview-cards" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center flex-start">
      <mat-card fxFlex="calc(50% - 30px)" fxFlex.xs="100" class="animated zoomIn relative" style="height: auto">
        <mat-card-header>
          <mat-card-title>
            <h2>
              Assignments
            </h2>
          </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-tab-group>
          <mat-tab label="Current">

            <input matInput [matDatepicker]="picker" placeholder="Choose a date" (dateInput)="changeAssignmentByDate($event)" (dateChange)="changeAssignmentByDate($event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

            <table class="tb-assignments">
              <tr>
                <td>Date</td>
                <td>Subject</td>
                <td>Info</td>
                <td>Teacher</td>
              </tr>
              <tr *ngFor="let assignment of assignments" (click)="onSelectSubject(assignment)">
                <td class="date"> {{assignment.pubdate}}</td>
                <td>
                  <mat-chip-list>
                    <mat-chip color="primary" selected="true">{{assignment.subject}}</mat-chip>
                  </mat-chip-list>
                </td>
                <td class="desc">{{assignment.description}}</td>
                <td>{{assignment.tchr_fname}} {{assignment.tchr_lname}}</td>
              </tr>
            </table>
            <!-- <mat-list>
              <mat-list-item *ngFor="let assignment of assignments" (click)="onSelectSubject(assignment)">
                <mat-chip-list>
                  
                </mat-chip-list>
                <h3 matLine></h3>
                <p matLine>
                 
                </p>
                <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
              </mat-list-item>
            </mat-list> -->
          </mat-tab>
          <mat-tab label="Yesterday">
            <input matInput [matDatepicker]="pickerSchedule" placeholder="Choose a date" (dateInput)="changeSchedulesByDate($event)"
              (dateChange)="changeSchedulesByDate($event)">
            <mat-datepicker-toggle matSuffix [for]="pickerSchedule"></mat-datepicker-toggle>
            <mat-datepicker #pickerSchedule></mat-datepicker>
            <table class="tb-assignments">
              <tr>
                <td>Date</td>
                <td>Subject</td>
                <td>Info</td>
                <td>Teacher</td>
              </tr>
              <tr *ngFor="let assignment of assignments">
                <td class="date"> {{assignment.pubdate}}</td>
                <td>
                  <mat-chip-list>
                    <mat-chip color="primary" selected="true" (click)="onSelectSubject(assignment)">{{assignment.subject}}</mat-chip>
                  </mat-chip-list>
                </td>
                <td class="desc">{{assignment.description}}</td>
                <td>{{assignment.tchr_fname}} {{assignment.tchr_lname}}</td>
              </tr>
            </table>
          </mat-tab>

        </mat-tab-group>
        <mat-card-actions class="float-right">
          <button routerLink="/auth/assignments" mat-button class="mat-color-btn">
            Go to Assignments
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card fxFlex="calc(50% - 30px)" fxFlex.xs="100" class="animated zoomIn">
        <mat-card-header>
          <mat-card-title>
            <h2>
              Schedules
            </h2>
          </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-tab-group>
          <mat-tab label="Today">
            <table class="tb-assignments">
              <tr>
                <td>Time</td>
                <td>Subject</td>
                <td>Teacher</td>
              </tr>
              <tr *ngFor="let schedule of schedules" (click)="onSelectSubject(schedule)">
                <td>{{schedule.schedule}}</td>
                <td>
                  <mat-chip-list>
                    <mat-chip color="primary" selected="true">{{schedule.subject}}</mat-chip>
                  </mat-chip-list>
                </td>
                <td>{{schedule.tchr_fname}}</td>
              </tr>
            </table>
            <!-- <mat-list>
              <mat-list-item *ngFor="let schedule of schedules" (click)="onSelectSubject(schedule)">
                <h3 matLine>{{schedule.subject}}</h3>
                <p matLine>{{schedule.schedule}}</p>
                <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
              </mat-list-item>
            </mat-list> -->
          </mat-tab>
          <mat-tab label="Tomorrow">
            <table class="tb-assignments">
              <tr>
                <td>Time</td>
                <td>Subject</td>
                <td>Teacher</td>
              </tr>
              <tr *ngFor="let schedule of schedules" (click)="onSelectSubject(schedule)">
                <td>{{schedule.schedule}}</td>
                <td>
                  <mat-chip-list>
                    <mat-chip color="primary" selected="true">{{schedule.subject}}</mat-chip>
                  </mat-chip-list>
                </td>
                <td>{{schedule.tchr_fname}}</td>
              </tr>
            </table>
          </mat-tab>

        </mat-tab-group>
        <mat-card-actions class="float-right">
          <button routerLink="/auth/assignments" mat-button class="mat-color-btn">
            Go to Assignments
          </button>
        </mat-card-actions>
      </mat-card>
      <mat-card fxFlex="100" class="animated zoomIn">
        <mat-card-header>
          <mat-card-title>
            <h2>
              Calendar
            </h2>
          </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <table class="tb-assignments">
          <tr>
            <td>Subject</td>
            <td>Info</td>
            <td>Date</td>

          </tr>
          <tr *ngFor="let assignment of assignments" (click)="onSelectSubject(assignment)">
            <td>
              <mat-chip-list>
                <mat-chip color="primary" selected="true">{{assignment.subject}}</mat-chip>
              </mat-chip-list>
            </td>
            <td class="desc">{{assignment.description}}</td>
            <td class="date"> {{assignment.pubdate}}</td>
          </tr>
        </table>

      </mat-card>
      <!-- <mat-card fxFlex="calc(50% - 10px)" fxFlex.xs="100%" *ngFor="let schedule of schedules" class="animated zoomIn schedule-card">
        <mat-card-header>
          <mat-card-title>{{schedule.subject}}</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <p>{{schedule.schedule}}</p>
        </mat-card-content>
      </mat-card> -->
    </div>

  </mat-tab>
  <mat-tab label="Attendance"></mat-tab>
  <mat-tab label="Grades"></mat-tab>
  <mat-tab label="Class"></mat-tab>
</mat-tab-group>
