<mat-toolbar color="primary">

  <mat-toolbar-row>
    <button mat-icon-button (click)="onToggleDrawer()">
      <mat-icon>menu</mat-icon>
    </button>
    GINO APP
    <span class="flex-spacer">

    </span>

    <ng-template ngIf="authService.auth.type === 'p' && authService.student">
      <button class="children-button" mat-icon-button [matMenuTriggerFor]="children">
        <mat-icon>
          people

        </mat-icon>
        <span class="badge">
          {{authService.auth.children.length}}
        </span>
      </button>
      <mat-menu #children="matMenu">
        <mat-list>
          <h3 mat-subheader>Children</h3>

          <mat-list-item *ngFor="let child of authService.auth.children" (click)="onSelectChild(child)">
            <img [src]="child.image" class="avatar">
            <h4 mat-line>{{child.firstname}}</h4>
            <p mat-line> {{child.lastname}} </p>
          </mat-list-item>

        </mat-list>
      </mat-menu>
    </ng-template>
    <img [src]="authService.auth.image" class="avatar" [matMenuTriggerFor]="menu">

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="authService.logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>

  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="authService.auth.type === 'p' && authService.student">
    {{authService.student.firstname}}
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidenav" [class.parent]="authService.auth.type === 'p' && authService.student" color="primary">
  <mat-sidenav mode="side" [opened]="active">
    <mat-nav-list>
      <mat-list-item *ngFor="let route of routes" (click)="onNavigateTo(route)">
        <h4 mat-line>{{route.name}}</h4>
        <p mat-line> {{route.link}} </p>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
