<mat-toolbar color="primary" class="fixed z-absolute">

  <mat-toolbar-row>
    <button mat-icon-button (click)="nav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    stpCentral
    <span class="flex-spacer">
    </span>


    <button class="children-button" mat-icon-button [matMenuTriggerFor]="children" *ngIf="isParent">
      <mat-icon>
        people
      </mat-icon>
      <span class="badge">
        {{authService.auth.children.length}}
      </span>
    </button>
    <mat-menu #children="matMenu">
      <mat-list>
        <h3 mat-subheader>Children</h3>

        <mat-list-item *ngFor="let child of authService.auth.children" (click)="onSelectChild(child)">
          <img [src]="child.image" class="avatar">
          <h4 mat-line>{{child.firstname}}</h4>
          <p mat-line> {{child.lastname}} </p>
        </mat-list-item>

      </mat-list>
    </mat-menu>

    <img [src]="authService.auth.image" class="avatar" [matMenuTriggerFor]="menu">

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="authService.logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>

  </mat-toolbar-row>

</mat-toolbar>
<mat-sidenav-container color="primary">
  <mat-sidenav mode="side" [opened]="true" class="sidenav" [class.mini]="isMobile" #nav mode="side" [fixedInViewport]="true">
    <mat-nav-list>
      <a mat-list-item *ngFor="let route of routes" [routerLink]="route.link" routerLinkActive="active-link">
        <mat-icon matListIcon>{{route.icon}}</mat-icon>
        <h4 mat-line>{{route.name}}</h4>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="margin-top: 64px">
    <mat-toolbar *ngIf="authService.auth.type === 'p' && authService.student">
      <mat-toolbar-row>
        <img class="avatar" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt="">
        <span>{{ authService.student.firstname }} {{ authService.student.grade }} - {{ authService.student.section }} </span>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
