.flex-spacer
  flex: 1 1 auto

.avatar
  border-radius: 50%
  width: 45px
  height: 45px
  cursor: pointer
  border: 1px solid #1F2B35

mat-sidenav
  margin-top: 56px
  width: 300px
  background: rgba(28, 43, 54,.75)
  transition: width .3s ease-in-out
  &.mini
    width: 64px
mat-sidenav-content
  margin-top: 64px
  min-height: 100vh
  
a[mat-list-item]
  color: white !important
  transition: background .5s ease-in-out, border-right .3s ease-in

.active-link, .mat-list-item-focus
  background: #4A9B91 !important
  border-right: 10px solid #265E63

.fixed
  position: fixed

.z-absolute
  z-index: 10